* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 720px;
    font-family: 'Montserrat', sans-serif, icon-font;
    font-weight: 300;
    font-size: 48px;
}

header {
  position: relative;
  height: 400px;
  background-color: #5f0fe2;
  color: white;
}

.logo {
    background: url("../img/logo.png");
}

h1 {
  padding-top: 80px;
  padding-bottom: 30px;
  font-size: 44px;
  text-align: center;
}

.phrase {
    text-align: center;
    font-size: 24px;
    line-height: 37px;
    width: 700px;
    height: 130px;
    margin: auto;
}

svg.header-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.arrow-wrapper{
    text-align: center;
}

header svg.arrow {
    width: 30px;
    margin-bottom: 25px;
}

.team {
    margin-top: 120px;
    text-align: center;
    background-color: #f6f6f6;
}

.team h2 {
    font-size: 60px;
    font-weight: 400;
    color: #817990;
    padding-bottom: 25px;
    background-color: white;
}

.team .arrow-wrapper {
    height: 0;
}

.team svg.arrow {
    width: 68px;
    position: relative;
    top: -25px;
}


.team-members {
    padding: 60px 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.avatar_wrapper {
    /*border: 5px solid #5f0fe2;*/
    /*float: left;*/
    box-sizing: border-box;
    border-radius: 100%;

    width: 260px;
    height: 260px;
    margin-bottom: 20px;

    cursor: pointer;
}

.avatar_wrapper::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(246, 246, 246, 0) 0, rgba(246, 246, 246, 100) 100%);
    margin-top: -130px;
    height: 150px;
    width: 100%;
    content: '';
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    /*border: 5px solid transparent;*/

    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 8px 18px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 8px 18px rgba(0,0,0,0.2);
	-o-box-shadow: 0 8px 18px rgba(0,0,0,0.2);

    filter: none;

    margin-top: -5px;
    margin-left: -5px;

    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);

    /*-webkit-transform:rotate(180deg);*/
    /*-moz-transform:rotate(180deg);*/
    /*-o-transform:rotate(180deg);*/

    /*cursor: pointer;*/

    transition: all 0.5s ease;
}

.avatar_wrapper:hover .avatar {
    filter: none;
    border-radius: 100%;

    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);

    /*-webkit-transform:rotate(360deg);*/
    /*-moz-transform:rotate(360deg);*/
    /*-o-transform:rotate(360deg);*/

}

/*.avatar_noisy:hover {*/
    /*border: 5px solid #ba0001;*/
/*}*/

/*.avatar_nicniezgrublem:hover {*/
    /*border: 5px solid #23b501;*/
/*}*/

/*.avatar_perduta:hover {*/
    /*border: 5px solid #ffa63a;*/
/*}*/

/*.avatar_jblew:hover {*/
    /*border: 5px solid #878787;*/
/*}*/

/*.avatar_smashedturtle:hover {*/
    /*border: 5px solid #6d4637;*/
/*}*/

/*.avatar_lukmarcus:hover {*/
    /*border: 5px solid #000000;*/
/*}*/

/*.avatar_andrejcibik:hover {*/
    /*border: 5px solid #d45a5d;*/
/*}*/

/*.avatar_lenka:hover {*/
    /*border: 5px solid #0080dd;*/
/*}*/

.team-member {
    text-align: center;
    color: #817990;
    margin: 40px;
    width: 260px;
}

.team-member .title {
    text-align: left;
    position: relative;
    top: -40px;
    left: -40px;
    font-weight: 800;
    font-size: 36px;
    margin: 10px;
    color: #5f0fe2;

    display: flex;
    align-items: flex-end;
    height: 0px;
    width: 270px;
}
.team-member .title.long {
    font-size: 28px;
}

.team-member .name {
    font-size: 24px;
}
.team-member .steem-login {
    font-size: 21px;
    line-height: 28px;
}

.team-member .steem-login a {
    color: #5f0fe2;
    text-decoration: none;
}

.team-member .social-links {
    font-size: 20px;
    height: 20px;
    padding-top: 12px;
}

.team-member .social-links a {
    text-decoration: none;
    color: #817990;
}

.team-member .social-links [class^="icon-"] {
    margin: 0 8px;
}